:root {
  --blue: #1a73e8;
  --dark-blue: #174ea6;
  --light-blue: rgba(26,115,232,.04);
  --dark-grey: #5f6368;
  --darker-grey: #202124;
  --almost-black: #3c4043;
  --light-grey: rgba(32,33,36,.04);
  --white: #ffffff;
}

body {
  font: 400 14px/20px "Roboto", "Helvetica Neue", sans-serif;
  color: var(--almost-black);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--dark-grey);
}

header nav {
  color: var(--dark-grey);
  font: 500 14px/20px "Poppins", "Helvetica Neue", sans-serif;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

  header nav ul li {
  display: inline-block;
}
